dugald.0-1.log
dugald.aux
dugald.aux.make
dugald.auxbbl.make
dugald.auxbbl.make.temp
dugald.auxtarget.make
dugald.d
dugald.fls
dugald.log
dugald.pdf
glossary.0-1.log
glossary.aux
glossary.aux.make
glossary.auxbbl.make
glossary.auxtarget.make
glossary.d
glossary.fls
glossary.log
glossary.pdf
